{{!-- {{! <style>#markerList{height: 50vh;}</style> }} --}}
<div
  class="md:max-w-auto xl:min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]"
>
  <!-- BEGIN: Top Bar -->

  <!-- END: Top Bar -->
  <div class='grid grid-cols-12 gap-6'>
    <div class='col-span-12 rounded xl:mt-3'>

      <div id='map' class='maplibregl-map max-md:my-2 rounded max-md:w-full max-md:fixed'>
        <div id='left' class='sidebar flex-center left collapsed'>
          <div class='sidebar-content rounded-rect flex-center max-md:h-[87%]'>

            <div
              id='markerList'
              style='margin:5px; padding: 5px; overflow-y: auto;'
            >

            </div>

            <div
              class='sidebar-toggle rounded-rect left'
              style='font-size: 2em'
              onclick="toggleSidebar('left')"
            >
              →
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>